services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: ege_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 10

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:password@postgres:5432/ege_db
    depends_on:
      postgres:
        condition: service_healthy
    command: >
      sh -c "sleep 5 && uvicorn main:app --host 0.0.0.0 --port 8000"

  telegram_bot:
    build: ./telegram_bot
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN:?err}
      API_URL: http://backend:8000
    depends_on:
      - backend
    restart: on-failure

volumes:
  postgres_data: